body {
    font-size: 20px;
    font-family: sans-serif;
}

.hovered {
    opacity: 0;
}

.hovered:hover {
    opacity: .3;
    transition: opacity 1s;
}

.falling {
    position: fixed;
    // color: #800;
    z-index: 200;
    animation: fallingWord linear 20s;
}

@keyframes fallingWord {
    from {
    }
    to {
	transform: translateY(100vh);
    }
}

.spinning {
    display: block;
    animation: spinningWord linear infinite 2s;
}

@keyframes spinningWord {
    from {
	transform: rotate(0);
    }
    to {
	transform: rotate(360deg);
    }
}
